* {
  box-sizing: border-box;
  margin: 0;
 
}

/* .input {
  width: 100px;
  padding: 20px 0 20px 0;
  margin: 0 auto;
} */
.search form {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0px 20px 140px;
}

.search button {
  background-color: black; 
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {opacity: 1}

input {
  width: 150px;
  padding: 5px;
  font-size: 1em;
}

.list {
  display: grid;
  margin: 15px 0 50px 0;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 2fr;
  grid-gap: 1em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0,0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
/* .desc {
  height: 120px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;    
  font-weight: 400;
}
.desc h3, p {
  font-weight: 300;
}

.desc h4 {
  color: #6c757d;
  font-size: .5em;
  padding: 10px 0 10px 0;
}

.desc p {
  color: #6c757d;
} */

/* img {
  width: 100%;
  height: 250px;
} */

/* select {
  background-color: #343a40;
  color: #fff;
  height: 32px;
  width: 40px;
  position: absolute;
  top: -2px;
} */

/* .wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  /* margin-bottom: -50px;
}
.copyright,
.push {
  height: 50px;
} */ 

.copyright{
  text-align: center;
  font-size: .6em;
  color:#effffa;
  margin-top: 0;
}
.copyright span {
  font-style: oblique;
  font-size: 1.2em;
}

.nav-item {
margin-left: 5rem;}

.my-card {
  margin: 2rem;
}

.email {
width: 30rem;
}

.this-app{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightcyan ; 
  opacity: 0.7; 
  padding-top: 40px; 
  padding-right: 30px; 
  padding-left: 30px; 
  padding-bottom: 40px;
  border-radius: 25px;
  font-size: 22px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%; 
  position:absolute;
  
}

.Add{
  color:rgb(203,52,181);
  font-size:.8em;

}

.card-body {
height: 1%;
}

